<!DOCTYPE html>
<html lang="en" style="height:100%">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{styleHref}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'none'; style-src {{cspSource}}; img-src {{cspSource}} https:; script-src 'nonce-{{nonce}}';">
  <title>登录</title>
</head>

<body>
  <div class="login-tips-wrapper">
    <div class="login-tips">
      <div>感谢DarrenIce老哥的[<a href="https://github.com/DarrenIce/NGA-MoFish">插件</a>]提供的灵感和素材</div>
      <h2>登录提示</h2>
      <h3>第一次使用时</h3>
      <div>浏览器打开NGA并登录之后，按F12打开DevTools，切到Network(网络)页，刷新一下页面，可以看到有类似于这样的url，在请求标头中找到cookie，复制</div>
      <img alt="如何登录" src="{{helpImgSrc}}">
      <div>打开NGA扩展，点击左边的登录按钮，粘贴刚才复制的cookie在下方的输入框中，点击输入框下方的<span class="relax">摸！</span></div>
    </div>
  </div>
  <div class="textarea-region">
    <textarea id="cookies" placeholder="此处粘贴NGA的Cookies" rows="3">{{cookie}}</textarea>
  </div>
  <div class="btn-region">
    <button id="saveBtn">摸！</button>
  </div>
  <script nonce="{{nonce}}">
    (function () {
      const saveBtn = document.querySelector("#saveBtn");
      const cookieInput = document.querySelector("#cookies");
      saveBtn.addEventListener("click", () => {
        const cookie = cookieInput.value;
        if (cookie) {
          sendCookie(cookie.replace(/cookie: /i, ""));
        }
      });
      const sendCookie = (cookie) => {
        if (acquireVsCodeApi) {
          const vscode = acquireVsCodeApi();
          vscode.postMessage({
            cookie,
          });
        }
      };
    })();
  </script>
  <!-- <script nonce="{{nonce}}" src="{{scriptSrc}}"></script> -->
</body>

</html>