body {
  background-color: transparent;
  color: var(--vscode-editor-foreground);
  margin: 0;
  padding: 0 20px;
  padding-top: 0.3rem;
  padding-bottom: 55px;
  position: relative;
}

.threads {
  padding: 10px 0;
}

.threads .header {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  border: 1px solid #30363d;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #6e76811a;
}
.threads .header .thread {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.threads .header .thread .lou {
  margin-left: 5px;
}
.threads .header .author {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.threads .header .author .img-wrapper img {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 1px #f0f6fc1a;
  background-color: #f0f6fc1a;
}
.threads .header .author .author-name {
  margin-left: 16px;
  font-size: 14px;
  font-weight: 600;
}

.threads .content {
  padding: 10px;
  border: 1px solid #30363d;
  border-top: 0;
  border-radius: 0 0 5px 5px;
}
.threads .content .image {
  background-color: #f0f6fc1a;
  max-width: 7rem;
  max-height: 7rem;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid #30363d;
  cursor: pointer;
}
.threads .content blockquote {
  border: 1px solid #30363d;
  background-color: #f0f6fc1a;
  border-radius: 5px;
  padding: 0.3rem;
}

.pagination-region {
  position: fixed;
  bottom: 0;
}
.pagination-region .pagination {
  margin: 1rem;
}
.pagination-region .pagination .dash {
  display: inline-block;
  padding: 0 10px;
  border: 1px solid #30363d;
  background-color: var(--vscode-editor-background);
}
.pagination-region ul.pagination li.page-item a.page-link {
  background-color: var(--vscode-editor-background);
  border: 1px solid #30363d;
  color: var(--vscode-editor-foreground);
}
.pagination-region ul.pagination li.page-item a.page-link.disabled {
  opacity: 0.1;
}
.pagination-region ul.pagination li.page-item.active a.page-link {
  background-color: var(--vscode-editor-background);
  border: 1px solid #30363d;
  color: var(--vscode-editor-foreground);
  filter: brightness(70%);
}
.pagination-region ul.pagination li.page-item a.page-link:focus {
  box-shadow: none;
}
